@import url(../css/common.css);

.site-map-container {
  width: 100%;
  .site-map-wrap {
    width: 80%;
    margin: 0 auto;
    .btn-title-wrap {
      width: 100%;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 100px;
      button {
        border-radius: 50%;
        border: none;
        background-color: black;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        cursor: pointer;
        span {
          color: #fcc038;
          font-size: 2rem;
        }
      }
      h1 {
        margin-top: 30px;
        font-size: 3rem;
        font-weight: 700;
      }
    }
    .site-map-menus {
      width: 100%;
      .menus-title {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #dfdfdf;
        > ul {
          > li {
            text-align: center;
            height: 3.5rem;
            position: relative;
            > h2 {
              margin-bottom: 40px;

              &::before {
                position: absolute;
                display: none;
                content: "";
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 50px;
                border-bottom: 3px solid #000;
              }
              &:hover::before {
                display: block;
              }
            }
            > ul {
              > li {
                padding: 10px 30px;
                > a {
                  p {
                    font-size: 1.1rem;
                    color: #8d8d8d;
                    &:hover {
                      color: #000;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
