@import url(./common.css);

.task-chair-container {
  width: 100%;
  .task-chair-wrap {
    width: 80%;
    margin: 200px auto;
    .task-chair-title {
      text-align: center;
      h2 {
        font-family: "Play", sans-serif;
        font-size: 3.5rem;
        font-weight: 600;
        margin-bottom: 30px;
      }
      .side-menu {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          .material-symbols-rounded {
            font-size: 20px;
            margin: 0 30px;
          }
        }
        .product-btn-wrap {
          position: relative;
          margin: 0 15px;
          padding: 10px;
          .product-btn {
            display: flex;
            align-items: center;
            border: 0;
            outline: 0;
            background-color: transparent;
            font-family: "Play", sans-serif;
            font-size: 1rem;
            letter-spacing: -1px;
            ::before {
              position: absolute;
              content: "";
              width: 1px;
              height: 12px;
              top: 15px;
              left: -18px;
              background-color: #dfdfdf;
            }
            p {
              margin-right: 15px;
            }
            .arrow-box {
              width: 18px;
              height: 18px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #9c9c9c;
              border-radius: 50%;
              > span {
                font-size: 14px;
              }
            }
          }
          .drop-down-menu {
            display: none;
            position: absolute;
            background-color: #fcc038;
            top: 100%;
            left: -16%;
            width: 140px;

            li {
              margin: 10px 0;
              a {
                padding: 5px 10px;
                font-size: 14px;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .chairs {
      width: 100%;
      ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        li {
          margin: 32px 0;
          width: 25%;
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
              width: 100%;
              height: 18vw;
              img {
                width: 100%;
                max-height: 100%;
              }
            }
            p {
              margin-top: 30px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .arrows-wrap {
      width: 16%;
      display: flex;
      justify-content: space-evenly;
      margin: 60px auto;
      a:nth-of-type(3) {
        width: 20px;
        text-align: center;
        font-weight: 600;
        line-height: 1.5;
        border-bottom: 2px solid #000;
      }
    }
    .search-container {
      text-align: center;

      form {
        .search-wrap {
          width: 480px;
          height: 53px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 3px solid #000;
          input {
            width: 85%;
            padding: 5px;
            margin: 0 15px;
            border: none;
            &::placeholder{
              color: #bdbdbd;
            }
          }
        }
      }
    }
  }
}
